/* Styling not particularly well written */

html,
body {
  margin: 0;
  padding: 0;
}

.app-main {
  width: min(100%, 50rem);
  padding-bottom: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: min(100%, 50rem);
  position: sticky;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header > .app-heading {
  font-size: 3rem;
  font-weight: bold;
}

.cheese-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0px;
  height: 8em;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
}

.card-container > .card-image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card-image img {
  display: block;
  max-height: 100%;
}

.card-container .cheese-name {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.card-container .card-price {
  justify-self: end;
  text-align: end;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 0.5em;
  word-wrap: break-word;
}

.card-price .cheese-price-label {
  font-weight: bold;
}

.price-calculator {
  width: 5.5em;
}

.price-calculator-input {
  border: 1px solid black;
  padding: 0.1em 0.3em;
}
.price-calculator-input > input[type="number"] {
  outline: none;
  border: none;
  width: 100%;
}

.cheese-details {
  display: flex;
  gap: 1em;
}

.cheese-details .cheese-image {
  width: min(100%, 30em);
  border: 1px solid black;
  padding: 0.2em;
  margin: 0;
}

.cheese-details .cheese-image img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cheese-details-price > .cheese-price-value {
  font-size: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
}

.cheese-details-content > .cheese-details-price {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}

.cheese-price-input {
  display: flex;
  align-items: end;
  width: max(100%, 10em);
}

.cheese-price-input > .price-calculator {
  width: min(100%, 15em);
}

.cheese-price-input input[type="number"] {
  height: 5rem;
  font-size: 4rem;
}

#kilo {
  font-size: 4rem;
}
